<div class="row justify-content-md-center" >
  <div class="col-md-4 col-md-4-offset-4">

    <div class="container">
        <div class="row">
            <form method="POST" action="/file" enctype="multipart/form-data">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileUpload" aria-describedby="inputGroupFileAddon01" name="upload">
                        <label class="custom-file-label" for="fileUpload">Choose file to Upload</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="btnFileSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
