<h1>Homepage</h1>

<form method="GET" action="/">
    <input type="text" name="name"/>
    <input type="submit"/>
</form>

{{#if name}}
<audio controls>
    <source src="/file/{{name}}" type="audio/mp3">
</audio> 
{{/if}}