<div class="row justify-content-md-center" >
  <div class="col-md-4 col-md-4-offset-4">
    <h1>{{title}}</h1>
    <form method="POST", action="/file/upload">
      <div class="form-group">
        <input type="file" class="form-control-file" id="inputFile" placeholder="Select File">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>